<!DOCTYPE html>
<html>
<head>
  <title>MyMeal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<li><a href="/">Início</a></li>
		<li><a href="/meals">Cadastrar Refeição</a></li>
		<li>
			Total do Carrinho: <%= total_cart %> 
			<form action="/cart/finish" method="POST">
				<button type="submit">Finalizar</button>
			</form>
		</li>
	</ul>
	<%= yield %>

</body>
</html>
